{
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "components": "./app/components",
          "routes": "./app/routes",
          "screens": "./app/screens"
        }
      }
    ]
  ],
  "presets": ["module:metro-react-native-babel-preset"]
}
